<div id="form" class="mt-5">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Buscar usuario: </span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
                <td>Carlos</td>
                <td>Apellido</td>
                <td>1</td>
                <td>dasdsad</td>
            </tr>
        </tbody>
    </table>
</div>